cloudy_inference/all_models_with_qs.csv
cloudy_inference/all_models_with_qs.py
cloudy_inference/bpass_all_integrals.csv
cloudy_inference/bpt_inference.csv
cloudy_inference/cloudy_inference_test.ipynb
cloudy_inference/cloudy_inference.ipynb
cloudy_inference/full_bpt_inference_paper.ipynb
cloudy_inference/full_bpt_inference.ipynb
cloudy_inference/full_ohno_inference_paper.ipynb
cloudy_inference/full_ohno_inference.ipynb
cloudy_inference/full_vo87_inference_paper.ipynb
cloudy_inference/individual_lines_inference.ipynb
cloudy_inference/inferencedf.csv
cloudy_inference/mbh_integrals.csv
cloudy_inference/ohno_inference.csv
cloudy_inference/ratiosdf_age_less_than_8.csv
cloudy_inference/ratiosdf.csv
cloudy_inference/vo87_inference.csv
data/AGN_solar.csv
data/all_models_with_qs.csv
data/bpass_all_integrals.csv
data/BPASS_all_solar_models.csv
data/BPASS_solar.csv
data/bpt_inference.csv
data/mbh_integrals.csv
data/ohno_inference.csv
data/vo87_inference.csv
